.sidebar{
  width: 296px;
  background-color: $primary;
}

.logo{
  a{
    display: inline-block;
    width: 151px;
    height: 40px;
    background-image: url(../images/logo-ANSWER.svg);
  }
}

.menu{
  list-style: none;
  padding-left: 0;
  li{
    a{
      display: flex;
      align-items: center;
      padding-left: 34px;
      margin-bottom: 29px;
      &:focus{
        color: $secondary;
        padding-left: 31px;
        border-left: 4px solid $secondary;
      }
      &:hover{
        color: $secondary;
        padding-left: 31px;
        border-left: 4px solid $secondary;
      }
    }
  }
}