<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <div class="d-flex">
    <aside class="sidebar vh-100 d-flex flex-column py-5 bg-primary">
      <h1 class="logo mb-5 pl-5"><a href="#"></a></h1>
      <ul class="menu">
        <li>
          <a href="#" class="font-weight-bold"><i class="material-icons mr-3">insert_chart</i>Dashboard</a>
        </li>
        <li>
          <a href="#" class="font-weight-bold"><i class="material-icons mr-3">forum</i>Question</a>
        </li>
        <li>
          <a href="assignment.html" class="font-weight-bold"><i class="material-icons mr-3">assignment</i>Assignment</a>
        </li>
        <li>
          <a href="#" class="font-weight-bold"><i class="material-icons mr-3">video_library</i>Course</a>
        </li>
        <li>
          <a href="admin.html" class="font-weight-bold"><i class="material-icons mr-3">supervisor_account</i>Admin</a>
        </li>
        <li>
          <a href="#" class="font-weight-bold"><i class="material-icons mr-3">settings</i>Settings</a>
        </li>
      </ul>
      <div class="user d-flex align-items-center mt-auto pl-5">
        <a href="#"><img src="./assets/images/andychen.jpeg" alt="" class="user__avatar"></a>
        <div class="user__detail ml-3">
          <a href="#" class="user__detail__name mb-1 font-weight-bold">Andy Chen</a>
          <p class="user__detail__other mb-0 text-dark fz-14">andy0401@mail.com</p>
        </div>
      </div>
    </aside>

    <%- contents %>

  </div>
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>