.admin{
  table{
    thead{
      tr{
        th{
          &:nth-child(1){
            width: 93px;
          }
          &:nth-child(2){
            width: 234px;
          }
          &:nth-child(3){
            width: 325px;
          }
        }
      }
    }
  }
  &-access-level{
    background: #ffffff url(../images/baseline_keyboard_arrow_down_black_18dp.png) no-repeat right 1rem center/24px 24px;
  }
}

.page{
  &-prev, &-next{
    color: $secondary !important;
    &:hover{
      color: $white !important;
    }
  }
  &-focus{
    &:focus{
      background-color: $secondary !important;
      color: $white !important;
    }
  }
}

input::placeholder{
  color: $black !important;
}

.viewExpand.active{
  transform: rotate(180deg);
}